.footer{
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer p{
  margin: 0 10px 20px 10px;
  font-size: 12px;
}
.footer p:hover{
 opacity: 0.6;
 transition: 0.5s;
}

.footer_links{
  display: flex;
}

@media(max-width:900px){
  .footer{
    display: block
  }
  .footer_links p{
    margin: 10px 20px;
  }
}