
  .itemPege{
    margin-top: 100px;
    max-width: 850px;
    font-size: 14px;
  }

  .itemPege p{
    margin-left: 25px;
  }

  .itemExplain{
    display: flex;
  }

  .itemImg{
    margin: 30px;
    width: 50%;
  }

  .itemImg img{
    width: 100%;
  }

  .itemText{
    width: 50%;
  }

  .itemText p{
    margin: 30px;
  }

  .textContainer{
    display: flex;
    width: 100%;
    margin-left: 30px;
  }
  
  .title{
    width: 25%;
  }

  .pageLinkBtn{
    display: flex;
    justify-content: center; 
  }
  
  .pageLinkBtn p{
    margin: 50px 20px 100px;
  }
  
  @media(max-width:900px){
    .itemPege{
      width: 100%;
    }
    .itemExplain{
        display: block;
      }
      .itemImg{
        width: 90%;
      }
      .itemText{
        width:100%;
      }
  }