.main p{
  margin: 100px 30px 0 30px;
}

.mainContainer{
  display: flex;
  justify-content: center;
}

.mainItens{
  margin-top: 100px;
}

.flexItems{
  display: flex;
}
.item{
  width: 50%;
  margin: 20px;
}

.item:hover{
  color: gray;
  opacity: 0.8;
  transition:0.5s;
}

.item img{
  width: 100%;
}

.item p{
  font-size: 12px ;
  margin: 0;
}


@media (max-width: 800px){
  .mainContainer{
    display: block;
  }
  .flexItems{
    margin: 0 25px;
  }
  .item{
    width: 70%;
   margin: 15px;
  }
}