
.mainItens{
  max-width: 1300px;
  margin:100px auto 0 auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
}

.item img{
  width: 90%;
}

.item p{
  width: 90%;
  font-size: 12px;
}

.item:hover{
  color: gray;
  opacity: 0.8;
  transition:0.5s;
}


