.company{
  max-width: 1300px;
  margin: 100px 0 50px 30px;
}

.company_list{
  display: flex;
  max-width: 600px;
  border-bottom: 1px solid silver;
  padding: 20px;
  font-size: 14px;
}

.company_list:last-child{
  border-bottom: none;
}

.title{
  width: 30%;
}

.map{
  margin-bottom: 100px;
  margin-left: 30px;
}

@media(max-width:900px) {
  .company_list{
    display:block
  }
}