
.mainTitle{
  margin-top: 100px;
}

.itemPege{
  margin-top: 100px;
  width: 850px;
}
.itemPege p{
  margin-left: 25px;
  font-size: 14px;
}
.itemExplain{
  display: flex;

}
.itemImg{
  margin: 5%;
  width: 50%;
}
.itemImg img{
  width: 100%;
}
.itemText{
  width: 50%;
}
.itemText p{
  font-size: 14px;
  margin: 30px;
}

.pageLinkBtn{
  display: flex;
  justify-content: center; 
}

.pageLinkBtn p{
  margin: 10px 20px 100px;
}
