
.main{
  max-width: 1300px;
  min-height: 600px;
  margin: 0 auto;
}

.main_title{
  margin-top: 100px;
  margin-left: 30px;
}

.page_top{
  margin-top: 100px;
}

.page_link{
  display: flex;
  justify-content: center; 
}

.page_link p{
  margin: 50px 20px 100px;
}