
.itemExplain{
    margin-top: 100px;
    margin-left: 25px;
    max-width: 850px;
    font-size: 14px;
  }



  .explain_container{
    display: flex;
  }

  .explain_img{
    width: 50%;
  }

  .explain_img img{
    width: 100%;
  }

  .explain_text{
    width: 40%;
    margin-left: 50px;
  }

  .explain_text p{
    margin-bottom: 30px;
    margin-top: 0;
  }


  .list{
    display: flex;
    width: 100%;

  }
  
  .title{
    width: 25%;
  }

  .page_link{
    display: flex;
    justify-content: center; 
    margin: 50px 20px 100px;
  }
  

  
  @media(max-width:900px){
    .itemExplain{
      width: 100%;
    }

    .explain_container{
      display: block;
    }

    .explain_img{
      width: 90%;
    }
    
    .explain_text{
      margin: 0;
      width: 90%;
    }
  }